.vasak {
	float:left;
	width: 45%;
	padding-right: 3%;
	padding-left: 3%;
	}
.parem {
	float:right;
	width: 50%;
	padding-right:3%;
	}
h3 {padding: 10px;
	text-align: left;
	
}
h4 {font-size: 20px;
	padding: 10px;
}
h5 {font-size: 20px;
	padding: 10px;
}
