body {
	background-color: #ffeceb;
	background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
	}

.vasak {
	float:left;
	width: 45%;
	padding-right: 3%;
	padding-left: 3%;
	}
.parem {
	float:right;
	width: 45%;
	padding-right:3%;
	}
h3 {
	font-size: 20px;
	margin-left: 60px;
	margin-right: auto;
	text-align: left;
	
}
h4 {font-size: 20px;
	padding: 10px;
	margin-left: 10px;
	margin-right: auto;
	text-align: left;
}
h5 {font-size: 20px;
	padding: 10px;
	margin-left: 10px;
	margin-right: auto;
	text-align: right;
}
