body {
	background-color: #ffeceb;
	background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
	}

.vasak {
	float:left;
	width: 45%;
	padding-right: 3%;
	padding-left: 3%;
	}
.parem {
	float:right;
	width: 45%;
	padding-right:3%;
	}

h4 {font-size: 15px;
}
